
@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="~/Content/grids.css">


@Html.Partial("~/Views/Shared/Header.cshtml")
@Html.Partial("~/Views/Shared/Nav.cshtml")


<main>

    <div class="container-2">

        <div id="t-header">
            <div class="div-row">

                <div class="div-cell">
                    <h3>Date Raised</h3>
                </div>
                <div class="div-cell">
                    <h3>Vendor</h3>
                </div>
                <div class="div-cell">
                    <h3>Reject No</h3>
                </div>
                <div class="div-cell">
                    <h3>Buyer</h3>
                </div>

            </div>
        </div>

        <div id="t-body">

            <div id="example-record" class="div-row">
                <div class="div-cell">Date Raised</div>
                <div class="div-cell">Vendor</div>
                <div class="div-cell">Reject Number</div>
                <div class="div-cell">Buyer</div>
            </div>


            <div class="div-row cta">
                <div class="div-cell">10 Dec 2017</div>
                <div class="div-cell">Company</div>
                <div class="div-cell">20001</div>
                <div class="div-cell">Joe Bloggs</div>
            </div>
            <div class="div-row cta">
                <div class="div-cell">10 Dec 2017</div>
                <div class="div-cell">Company</div>
                <div class="div-cell">20002</div>
                <div class="div-cell">Joe Bloggs</div>
            </div>
            <div class="div-row cta">
                <div class="div-cell">10 Dec 2017</div>
                <div class="div-cell">Company</div>
                <div class="div-cell">20003</div>
                <div class="div-cell">Joe Bloggs</div>
            </div>
            <div class="div-row cta">
                <div class="div-cell">10 Dec 2017</div>
                <div class="div-cell">Company</div>
                <div class="div-cell">20004</div>
                <div class="div-cell">Joe Bloggs</div>
            </div>
            <div class="div-row cta">
                <div class="div-cell">10 Dec 2017</div>
                <div class="div-cell">Company</div>
                <div class="div-cell">20005</div>
                <div class="div-cell">Joe Bloggs</div>
            </div>
            <div class="div-row cta">
                <div class="div-cell">10 Dec 2017</div>
                <div class="div-cell">Company</div>
                <div class="div-cell">20006</div>
                <div class="div-cell">Joe Bloggs</div>
            </div>
            <div class="div-row cta">
                <div class="div-cell">10 Dec 2017</div>
                <div class="div-cell">Company</div>
                <div class="div-cell">20007</div>
                <div class="div-cell">Joe Bloggs</div>
            </div>


            <div class="div-row cta">
                <div class="div-cell">10 Dec 2017</div>
                <div class="div-cell">Company</div>
                <div class="div-cell">20007</div>
                <div class="div-cell">Joe Bloggs</div>
            </div>
            <div class="div-row cta">
                <div class="div-cell">10 Dec 2017</div>
                <div class="div-cell">Company</div>
                <div class="div-cell">20007</div>
                <div class="div-cell">Joe Bloggs</div>
            </div>
            <div class="div-row cta">
                <div class="div-cell">10 Dec 2017</div>
                <div class="div-cell">Company</div>
                <div class="div-cell">20007</div>
                <div class="div-cell">Joe Bloggs</div>
            </div>
            <div class="div-row cta">
                <div class="div-cell">10 Dec 2017</div>
                <div class="div-cell">Company</div>
                <div class="div-cell">20007</div>
                <div class="div-cell">Joe Bloggs</div>
            </div>
            <div class="div-row cta">
                <div class="div-cell">10 Dec 2017</div>
                <div class="div-cell">Company</div>
                <div class="div-cell">20007</div>
                <div class="div-cell">Joe Bloggs</div>
            </div>
            <div class="div-row cta">
                <div class="div-cell">10 Dec 2017</div>
                <div class="div-cell">Company</div>
                <div class="div-cell">20007</div>
                <div class="div-cell">Joe Bloggs</div>
            </div>
            <div class="div-row cta">
                <div class="div-cell">10 Dec 2017</div>
                <div class="div-cell">Company</div>
                <div class="div-cell">20007</div>
                <div class="div-cell">Joe Bloggs</div>
            </div>
            <div class="div-row cta">
                <div class="div-cell">10 Dec 2017</div>
                <div class="div-cell">Company</div>
                <div class="div-cell">20007</div>
                <div class="div-cell">Joe Bloggs</div>
            </div>
            <div class="div-row cta">
                <div class="div-cell">10 Dec 2017</div>
                <div class="div-cell">Company</div>
                <div class="div-cell">20007</div>
                <div class="div-cell">Joe Bloggs</div>
            </div>
            <div class="div-row cta">
                <div class="div-cell">10 Dec 2017</div>
                <div class="div-cell">Company</div>
                <div class="div-cell">20007</div>
                <div class="div-cell">Joe Bloggs</div>
            </div>
            <div class="div-row cta">
                <div class="div-cell">10 Dec 2017</div>
                <div class="div-cell">Company</div>
                <div class="div-cell">20007</div>
                <div class="div-cell">Joe Bloggs</div>
            </div>
            <div class="div-row cta">
                <div class="div-cell">10 Dec 2017</div>
                <div class="div-cell">Company</div>
                <div class="div-cell">20007</div>
                <div class="div-cell">Joe Bloggs</div>
            </div>
            <div class="div-row cta">
                <div class="div-cell">10 Dec 2017</div>
                <div class="div-cell">Company</div>
                <div class="div-cell">20007</div>
                <div class="div-cell">Joe Bloggs</div>
            </div>
            <div class="div-row cta">
                <div class="div-cell">10 Dec 2017</div>
                <div class="div-cell">Company</div>
                <div class="div-cell">20007</div>
                <div class="div-cell">Joe Bloggs</div>
            </div>
            <div class="div-row cta">
                <div class="div-cell">10 Dec 2017</div>
                <div class="div-cell">Company</div>
                <div class="div-cell">20007</div>
                <div class="div-cell">Joe Bloggs</div>
            </div>
            <div class="div-row cta">
                <div class="div-cell">10 Dec 2017</div>
                <div class="div-cell">Company</div>
                <div class="div-cell">20007</div>
                <div class="div-cell">Joe Bloggs</div>
            </div>
            <div class="div-row cta">
                <div class="div-cell">10 Dec 2017</div>
                <div class="div-cell">Company</div>
                <div class="div-cell">20007</div>
                <div class="div-cell">Joe Bloggs</div>
            </div>
            <div class="div-row cta">
                <div class="div-cell">10 Dec 2017</div>
                <div class="div-cell">Company</div>
                <div class="div-cell">20007</div>
                <div class="div-cell">Joe Bloggs</div>
            </div>
            <div class="div-row cta">
                <div class="div-cell">10 Dec 2017</div>
                <div class="div-cell">Company</div>
                <div class="div-cell">20007</div>
                <div class="div-cell">Joe Bloggs</div>
            </div>

        </div>

        <div id="t-footer" class="mobile-search">
            <div class="div-row">
                <h1>Search</h1>
                <div class="search-box-cell div-cell">
                    <img src="img/SearchIcon.svg" />
                    <p>Date Raised:</p>
                    <input placeholder="Search..." />
                </div>
                <div class="search-box-cell div-cell">
                    <img src="img/SearchIcon.svg" />
                    <p>Vendor:</p>
                    <input placeholder="Search..." />
                </div>
                <div class="search-box-cell div-cell">
                    <img src="img/SearchIcon.svg" />
                    <p>Reject Number:</p>
                    <input placeholder="Search..." />
                </div>
                <div class="search-box-cell div-cell">
                    <img src="img/SearchIcon.svg" />
                    <p>Buyer Name:</p>
                    <input placeholder="Search..." />
                </div>

            </div>
        </div>

    </div>

</main>
<footer>
    <p>&copy; Chris Franks</p>
    <div class="search-icon">
        <span id="mobile-search-button" class="fa fa-search cta"></span>
    </div>
    <div class="footer-tools">

    </div>
    <p>P14140100</p>
</footer>

<script src="~/Scripts/ticket-js.js"></script>