
@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="~/Content/grids.css">


@Html.Partial("~/Views/Shared/Header.cshtml")

<nav id="menu-draw">
    <a class="nav-item" href="@Url.Action("Index", "Home")">Raise Ticket</a>
    <a class="nav-item active-nav-item" href="@Url.Action("Tickets", "TicketGrid")">All Tickets</a>
</nav>
<div id="menu-burger" class="burger">
    <span class="menu-span"></span>
    <span class="menu-span"></span>
    <span class="menu-span"></span>
</div>

<main>

    <div class="container-2">

        <div id="t-header">
            <div class="div-row">

                <div class="div-cell">
                    <h3>Date Raised</h3>
                </div>
                <div class="div-cell">
                    <h3>Vendor</h3>
                </div>
                <div class="div-cell">
                    <h3>Reject No</h3>
                </div>
                <div class="div-cell">
                    <h3>Buyer</h3>
                </div>

            </div>
        </div>

        <div id="t-body">

            <div id="example-record" class="div-row">
                <div class="div-cell">Date Raised</div>
                <div class="div-cell">Vendor</div>
                <div class="div-cell">Reject Number</div>
                <div class="div-cell">Buyer</div>
            </div>

            @for (int i = 0; i < 10; i++)
            {
                <div class="div-row cta">
                    <div class="div-cell">10 Dec 2017</div>
                    <div class="div-cell">Company</div>
                    <div class="div-cell">2000@(i + 1)</div>
                    <div class="div-cell">Joe Bloggs</div>
                </div>
            }


        </div>

        <div id="t-footer">
            <div class="div-row">
                <div class="search-box-cell div-cell">
                    <img src="img/SearchIcon.svg" />
                    <input placeholder="Search..." />
                </div>
                <div class="search-box-cell div-cell">
                    <img src="img/SearchIcon.svg" />
                    <input placeholder="Search..." />
                </div>
                <div class="search-box-cell div-cell">
                    <img src="img/SearchIcon.svg" />
                    <input placeholder="Search..." />
                </div>
                <div class="search-box-cell div-cell">
                    <img src="img/SearchIcon.svg" />
                    <input placeholder="Search..." />
                </div>

            </div>
        </div>

    </div>

    <div id="mobile-search" class="mobile-search">
        <div class="div-row">
            <h1>Search</h1>
            <div class="search-box-cell div-cell">
                <img src="~/Images/SearchIcon.svg" />
                <p>Date Raised:</p>
                <input placeholder="Search..." />
            </div>
            <div class="search-box-cell div-cell">
                <img src="~/Images/SearchIcon.svg" />
                <p>Vendor:</p>
                <input placeholder="Search..." />
            </div>
            <div class="search-box-cell div-cell">
                <img src="~/Images/SearchIcon.svg" />
                <p>Reject Number:</p>
                <input placeholder="Search..." />
            </div>
            <div class="search-box-cell div-cell">
                <img src="~/Images/SearchIcon.svg" />
                <p>Buyer Name:</p>
                <input placeholder="Search..." />
            </div>

        </div>
    </div>

</main>
<footer>
    <p>&copy; Chris Franks</p>
    <div class="search-icon">
        <span id="mobile-search-button" class="fa fa-search cta"></span>
    </div>
    <div class="search-icon">
        <span class="fa fa-refresh cta" onclick="window.location.reload(true);"></span>
    </div>
    <div class="footer-tools">

    </div>
    <p>P14140100</p>
</footer>

<div class="hide">
    <p id="edit-link">@Url.Action("EditForm", "BuyerForm")</p>
</div>

<script src="~/Scripts/ticket-js.js"></script>